<template>
  <StackLayout>
    <GridLayout class="actionBar" columns="*, 3*, *" rows="*" height="34">
      <Label fontSize="16" :text="left" class="left strong" @tap="leftFunction" paddingLeft="5" col="0" row="0" />
      <Label fontWeight="400" fontSize="16" :text="title" col="1" row="0" />
      <Label fontSize="16" class="right strong" @tap="rightFunction" paddingRight="5" :text="right" col="2" row="0" />
    </GridLayout>
</StackLayout>
</template>

<script>
import Login from "../Login";
import { mapActions, mapGetters } from 'vuex';

export default {
  props: ['left', 'right', 'title', 'area'],
  data() {
    return {

    }
  },

  computed: {
    ...mapGetters([
      
    ]),
  },
  methods: {
    
    ...mapActions([ 
      'AreaExtra_resetar',
      'AreaExtra_zerar_superficie'
    ]),

    leftFunction: function(){
      if (this.left == 'Voltar'){
          this.AreaExtra_resetar();
          this.AreaExtra_zerar_superficie();
          this.$modal.close();
      } else if (this.left == 'Logout'){
          this.$navigateTo(Login, {clearHistory: true});
      } else if (this.left == 'Excluir' ) {
        console.log( 'Excluir' );
          this.$emit( 'removeAreaExtra' );
      }
    },
    rightFunction: function(){
      if (this.right == '+' ){
        this.$emit( 'addAreaExtra' );
      } else if (this.right == 'Salvar' ) { 
        this.$emit( 'saveAreaExtra' );
      } else {
        this.$emit('addMeters');
      }
    }
  }
}
</script>


