<template>
    <Page>
        <android>
            <ActionBar title="Orçamento">   
                <ActionItem @tap="toResume" icon="~/images/resumo.png"></ActionItem>
                <NavigationButton @tap="backToPedidos" android.systemIcon="ic_menu_back"></NavigationButton>
            </ActionBar>
        </android >

         <ios>
            <ActionBar class="actionBar" title="Orçamento">
                <ActionItem @tap="toResume" icon="~/images/resumoios.png" ios.position="right">
                    </ActionItem>
                <NavigationButton text="Pedidos" @tap="backToPedidos" android.systemIcon="ic_menu_back"></NavigationButton>
            </ActionBar>    
         </ios>

        <FlexboxLayout class="page">
            
            <StackLayout>
   
                <Label class="center" fontSize="16" padding="10" :text="this.valor_total"/>
                <StackLayout class="hr-light"></StackLayout>

                <TabView background="#262626" tabTextColor="#6A84AC" androidTabsPosition="bottom" selectedTabTextColor="#1A75FE" tabBackgroundColor="#373737">

                    <TabViewItem class="icon" title="">
                        <StackLayout padding="10 5 0 5">

                            <Label fontSize="18" class="labelCalculadora strong" text="Área Externa" />
                            <Area area="Externa"/>

                        </StackLayout>
                    </TabViewItem>

                    <TabViewItem class="icon" title="">
                        <StackLayout padding="10 5 0 5">

                            <Label fontSize="18" class="labelCalculadora strong" textWrap="true" text="Área Interna" />
                            <Area area="Interna"/>

                        </StackLayout>
                    </TabViewItem>

                    <TabViewItem class="icon" title="">
                        <StackLayout padding="10 5 0 5">

                            <Label fontSize="18" class="labelCalculadora strong" textWrap="true" text="Extras" />
                            <Extras area="Extras"/>

                        </StackLayout>
                    </TabViewItem>

                    <TabViewItem class="icon" title="">
                        <StackLayout padding="10 5 0 5">

                            <Label fontSize="18" class="labelCalculadora strong" textWrap="true" text="Materiais" />
                            <Materiais type="Materiais"/>
                      
                        </StackLayout>
                    </TabViewItem>

                </TabView>

            </StackLayout>
        </FlexboxLayout>
    </Page>
</template>

<script>
import Area from "./CalculadoraComponents/Area";
import Extras from "./CalculadoraComponents/Extras"
import Resumo from "./Resumo";
import MaoDeObra from "./CalculadoraComponents/MaoDeObra";
import Materiais from "./CalculadoraComponents/Materiais";
import Pedidos from "./Pedidos";

import { mapActions, mapGetters } from 'vuex';
import * as http from 'http';

export default {
    data(){
        return{
        }
    },
    computed: {
           ...mapGetters([
                'orcamento_area_extras_valor_total',
                'orcamento_valor_total',
               
            ]),

            valor_total: function(){
                return `Valor Total: R$${this.orcamento_valor_total}`
            },
    },
    
    components: {
        'Area': Area,
        'Extras': Extras,
        'MaoDeObra' : MaoDeObra,
        'Materiais' : Materiais
    },

    methods: {
        ...mapActions([
            'AreaExterna_setar_valor_total',
            'AreaInterna_setar_valor_total',
            'AreaExtra_calcular_valor_total',
            'SetarValorTotal',
            'receber_pedidos',

            'receber_pedidos',
            'receber_superficies',
            'receber_servicos',
            'receber_areas_extras',
            'receber_materiais',
            'receber_valor_metro',
            'zerar_pedidos'  
        ]),
        
        toResume: function() {
            this.AreaExterna_setar_valor_total();
            this.AreaInterna_setar_valor_total();
            this.AreaExtra_calcular_valor_total(this.orcamento_area_extras_valor_total);
            this.SetarValorTotal();
            http.request({
                url: "https://sppinturas.herokuapp.com/orcamento",
                method: "POST",
                headers: { "Content-Type": "application/json" },
                content: JSON.stringify(this.$store.state.pedido)
                }).then( response => {
                    var result = response.content.toJSON();
                }, error => {
                    console.error(error);
                }).then(console.log( 'Sended' ));
            this.receber_pedidos();
            this.receber_valor_metro();
            this.receber_superficies();
            this.receber_servicos();
            this.receber_areas_extras();
            this.receber_materiais();
            this.zerar_pedidos();
            this.$navigateTo(Pedidos, { clearHistory: true });
        },

        backToPedidos: function(){
            this.receber_pedidos();
            this.receber_valor_metro();
            this.receber_superficies();
            this.receber_servicos();
            this.receber_areas_extras();
            this.receber_materiais();
            this.zerar_pedidos();
            this.$navigateBack();
        },
    }
    
}
</script>

<style>
</style>