<template>
    <Page backgroundSpanUnderStatusBar="true" actionBarHidden="true" @loaded="pageLoaded">
           
        <FlexboxLayout class="page">
            <StackLayout class="form">

                <Image class="logo" src="~/images/logo.png"></Image>
                
                <GridLayout rows="auto, auto">
                    <StackLayout row="0" class="input-field">
                        <TextField
                            :visibility='inputVisibility'
                            v-model="user_credential" 
                            class="input pads"
                            hint="Usuário" 
                            returnKeyType="Próximo">
                        </TextField>
                        <StackLayout :visibility='inputVisibility' class="hr-light"></StackLayout>
                    </StackLayout>

                    <ActivityIndicator class="marginBotton pads" rowSpan="3" :busy="processing"></ActivityIndicator>

                    <StackLayout row="1" class="input-field">
                        <TextField
                             :visibility='inputVisibility'
                            v-model="user_password"
                            secure="true"
                            hint="Senha" 
                            class="input marginBotton"
                            returnKeyType="Ok"> 
                        </TextField>
                        <StackLayout :visibility='inputVisibility' class="hr-light"></StackLayout>
                    </StackLayout>

                    <ActivityIndicator rowSpan="3"></ActivityIndicator>
                </GridLayout>
                <Button :isEnabled="!processing" @tap="login" :text="buttonLabel"></Button>
            
            </StackLayout>
        </FlexboxLayout>
    </Page>
</template>

<script>
import ResetSenha from "./ResetSenha";
import Pedidos from "./Pedidos";

import * as app from 'tns-core-modules/application';
import * as platform from 'tns-core-modules/platform';
import * as color from 'tns-core-modules/color';

export default {
    data(){
        return{
            user: 'orçamentista',
            password: 'sppinturas',
            user_credential: 'orçamentista',
            user_password: 'sppinturas',
            processing: false,
            inputVisibility: 'visible',
            buttonLabel: 'Login'
        }
    },
    methods: {
        
        forgotPassword() {
                this.$showModal(ResetSenha, {});
            },

        login() {
            this.processing = true;
            this.inputVisibility = 'collapsed';
            this.buttonLabel = 'Processing...';            
            setTimeout(this.toPedidos, 5000);
         
        },

        pageLoaded() {
            if (app.android && platform.device.sdkVersion >= "21") {
                const window = app.android.foregroundActivity.getWindow();
                window.setStatusBarColor(new color.Color("#262626").android);
            }
        },

        toPedidos(){
            if (this.user_credential === this.user && this.user_password === this.password) {
                this.$navigateTo(Pedidos, {clearHistory: true});
            } else {
                this.processing = false;
                this.inputVisibility = 'visible';
                this.buttonLabel = 'Login';
                this.alert();
            }
            
        },

        alert(){
            return alert({
                title: 'Dados inválidos',
                okButtonText: 'OK',
                message: 'Email ou Senha não foram encontrados.'
            })
        },
        test(){
            if(this.processing === true) {
                this.processing = false;
                this.inputVisibility = 'visible';
                this.buttonLabel = 'Login';
            } else {
                this.processing = true;
                this.inputVisibility = 'collapsed';
                this.buttonLabel = 'Processing...'
            }
           
        }
    }
}
</script>

<style>
</style>