<template>
    <Page actionBarHidden="true">   
        <DockLayout stretchLastChild="true">

            <ActionBar dock="top" left="Logout" title="Pedidos"/>
               
                <ListView dock="bottom" for="pedido in this.$store.state.pedidos" style="height:800" @itemTap="toCalculador">
                    <v-template class="page">
                        <StackLayout class="page">
                            <GridLayout class="page" textWrap="true" columns="*, *, *, *" rows="*, *, *, *, *">

                                <Label
                                    class="title medium"
                                    fontSize="18" 
                                    padding="5 0 0 0"
                                    :text="pedido.condominio.nome" 
                                    row="0" col="0" colSpan="4" />

                                <Label
                                    fontSize="15" 
                                    padding="5 0"
                                    :text="`${pedido.condominio.endereco.logradouro}, ${pedido.condominio.endereco.numero}`"
                                    row="1" col="0" colSpan="2" />

                                <Label
                                    fontSize="15" 
                                    padding="5 0"
                                    
                                    :text="`CEP: ${pedido.condominio.endereco.CEP}`" 
                                    row="1" col="2" colSpan="2" />

                                <Label
                                    fontSize="15" 
                                    padding="10 0"
                                    :text="`Número de prédios: ${pedido.condominio.numero_de_predios}`"
                                    row="3" col="0" textWrap="true" colSpan="2" />

                                <Label
                                    fontSize="15" 
                                    padding="10 0"
                                    :text="`Número de andares: ${pedido.condominio.numero_de_andares_por_predio}`"
                                    row="3" col="2" textWrap="true" colSpan="2" />


                                <Label
                                     class="title medium"
                                    fontSize="15" 
                                    padding="10 0"
                                    :text="pedido.condominio.sindico.nome" 
                                    row="4" col="0" colSpan="2" />    
                                <Label
                                    class="title medium"
                                    fontSize="15" 
                                    padding="10 0"
                                    :text="`Contato: ${pedido.condominio.sindico.celular_1}`" 
                                    row="4" col="2" colSpan="2" />  
                            
                            </GridLayout>
                            <StackLayout backgroundColor="#373737" height="1"></StackLayout>
                        </StackLayout>
                    </v-template>
                </ListView>
        
        </DockLayout>
    </Page>
</template>

<script>
    import ActionBar from "./shared/ActionBar";
    import Calculadora from "./Calculadora";
    import * as http from 'http';

    import { mapActions } from "vuex";

    export default {
        mounted(){
            this.receber_pedidos();
            this.receber_valor_metro();
            this.receber_superficies();
            this.receber_servicos();
            this.receber_areas_extras();
            this.receber_materiais();
            this.zerar_pedidos();
        },
        data(){
            return{
                pedidos: [],
                
            }
        },
        components: {
            'ActionBar' : ActionBar
        },
        methods: {
            ...mapActions([ 
                'receber_pedidos',
                'receber_superficies',
                'receber_servicos',
                'receber_areas_extras',
                'receber_materiais',
                'receber_configuracoes_pedido',
                'receber_valor_metro',
                'zerar_pedidos' 
            ]),

              toCalculador(args){
                  console.log(args.index);
                  this.receber_configuracoes_pedido({
                      id_pedido: this.$store.state.pedidos[args.index].id,
                      numero_de_predios: this.$store.state.pedidos[args.index].condominio.numero_de_predios,
                      numero_de_andares: this.$store.state.pedidos[args.index].condominio.numero_de_andares_por_predio
                  });
                  this.$navigateTo(Calculadora, { })
              },              
              logout() {
                this.$navigateTo(Login, {
                    clearHistory: true
                });
            },
        }

    };
</script>

<style>

</style>