<template>
    <Page>
        <FlexboxLayout class="page">
            <StackLayout class="form">

                <FlexboxLayout flexDirection="row">
                    <Label class="closeModal" @tap="closeModal" text="X" width="100%" />
                </FlexboxLayout>

                <StackLayout class="modalView">
                    <Label class="marginBotton strong title" textWrap="true" text="Redefinir senha" />
                    <Label textWrap="true" text="Informe seu e-mail para resetar sua senha." />
                    <TextField class="input" hint="Email" />
                    <StackLayout class="hr-light marginBotton"></StackLayout>
                    <Button @tap="closeModal" text="Enviar" />
                </StackLayout>

            </StackLayout>
        </FlexboxLayout>
    </Page>
</template>

<script>
export default {
    methods: {
        closeModal: function(){
            this.$modal.close();
        }
    }
}
</script>

<style>
</style>