<template>
    <Page>
        <android>
            <ActionBar title="Resumo">
                <NavigationButton @tap="$navigateBack" android.systemIcon="ic_menu_back"></NavigationButton>
            </ActionBar>
        </android>

         <ios>
            <ActionBar class="actionBar" title="Resumo">
                <NavigationButton text="Orçamento" @tap="$navigateBack" android.systemIcon="ic_menu_back"></NavigationButton>
            </ActionBar>    
         </ios>

        <FlexboxLayout class="page">
            <StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.id_pedido)"/>
                   <StackLayout class="hr-light"></StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.valor_total)"/>
                   <StackLayout class="hr-light"></StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.orcamento.orcamento_area_externa)"/>
                    <StackLayout class="hr-light"></StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.orcamento.orcamento_area_interna)"/>
                    <StackLayout class="hr-light"></StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.orcamento.orcamento_area_extra)"/>
                   <StackLayout class="hr-light"></StackLayout>
                <Label textWrap="true" :text="JSON.stringify(this.$store.state.pedido.orcamento.materiais)"/>




              

            </StackLayout>
        </FlexboxLayout>
    </Page>
</template>

<script>
import * as http from 'http';
import { mapActions } from 'vuex';

export default {
    mounted(){
            // this.AreaExterna_setar_valor_total();
            // this.AreaInterna_setar_valor_total();
            // this.AreaExtra_calcular_valor_total();
        


        http.request({
            url: "https://sppinturas.herokuapp.com/orcamento",
            method: "POST",
            headers: { "Content-Type": "application/json" },
            content: JSON.stringify(this.$store.state.pedido)}).then( response => {
                var result = response.content.toJSON();
            }, error => {
                console.error(error);
            }).then(console.log( 'Sended' ));



    },
    methods: {
        ...mapActions([
            'AreaExterna_setar_valor_total',
            'AreaInterna_setar_valor_total',
            'AreaExtra_calcular_valor_total'
        ]),
    },
    data(){
        return{
            teste: {

                
                id_pedido: 1,
                valor_total: 426100,
                orcamento: {
                    orcamento_area_externa: {
                        valor_total: 175200,
                        detalhes_valor: {
                            valor_pintura: 160000,
                            valor_servicos: 15200
                        },
                        metragem: 400,
                        superficie: "Travertino",
                        servicos: [
                            {
                                descricao: "Lavagem da caixa d'água",
                                porcentagem: 5,
                                valor: 4000
                            },
                            {
                                descricao: "Vedação dos caixilhos com infiltração",
                                porcentagem: 7,
                                valor: 11200
                            }
                        ]
                    },
                    orcamento_area_interna: {
                        valor_total: 16500,
                        detalhes_valor: {
                            valor_pintura: 10000,
                            valor_servicos: 6500
                        },
                        metragem: 100,
                        superficie: "Lisa",
                        servicos: [
                            {
                                descricao: "Tratamento de trincas",
                                porcentagem: 15,
                                valor: 1500
                            },
                            {
                                descricao: "Vedação dos caixilhos com infiltração",
                                porcentagem: 10,
                                valor: 1000
                            },
                            {
                                descricao: "Pintura da tubulação das fachadas",
                                porcentagem: 5,
                                valor: 500
                            },
                            {
                                descricao: "Limpeza após final da obra",
                                porcentagem: 35,
                                valor: 3500
                            }
                        ]
                    },
                    orcamento_area_extra: {
                        valor_total: 234400,
                        areas: [
                            {
                                nome: "Garagem",
                                valor_total: 122850,
                                detalhes_valor: {
                                    valor_pintura: 105000,
                                    valor_servicos: 17850
                                },
                                metragem: 300,
                                superficie: "Textura",
                                servicos: [
                                    {
                                        descricao: "Pintura da tubulação das fachadas",
                                        porcentagem: 5,
                                        valor: 5250
                                    },
                                    {
                                        descricao: "Tratamento de trincas",
                                        porcentagem: 12,
                                        valor: 12600
                                    }
                                ]
                            },
                            {
                                nome: "Playground",
                                valor_total: 105300,
                                detalhes_valor: {
                                    valor_pintura: 81000,
                                    valor_servicos: 24300
                                },
                                metragem: 300,
                                superficie: "Massa Raspada",
                                servicos: [
                                    {
                                        descricao: "Limpeza dos brinquedos",
                                        porcentagem: 20,
                                        valor: 16200
                                    },
                                    {
                                        descricao: "Troca de bebedouro",
                                        porcentagem: 10,
                                        valor: 8100
                                    }
                                ]
                            },
                            {
                                nome: "Salão de festas",
                                valor_total: 6250,
                                detalhes_valor: {
                                    valor_pintura: 5000,
                                    valor_servicos: 1250
                                },
                                metragem: 50,
                                superficie: "Lisa",
                                servicos: [
                                    {
                                        descricao: "Tratamento de trincas",
                                        porcentagem: 15,
                                        valor: 750
                                    },
                                    {
                                        descricao: "Limpeza das paredes",
                                        porcentagem: 10,
                                        valor: 500
                                    }
                                ]
                            }
                        ]
                    },
                    materiais: [
                        {
                            material: "Teste3",
                            quantidade: 20
                        },
                        {
                            material: "Teste3",
                            quantidade: 10
                        }
                    ]
                }


                // id_pedido: 1,
                // valor_total: 0,
                // orcamento: {
                //     orcamento_area_externa: {
                //         valor_total: 0,
                //         detalhes_valor: {
                //             valor_pintura: 0,
                //             valor_servicos: 0
                //         },
                //         metragem: 0,
                //         superficie: "",
                //         servicos: []
                //     },
                //     orcamento_area_interna: {
                //         valor_total: 0,
                //         detalhes_valor: {
                //             valor_pintura: 0,
                //             valor_servicos: 0
                //         },
                //         metragem: 0,
                //         superficie: "",
                //         servicos: []
                //     },
                //     orcamento_area_extra: {
                //         valor_total: 0,
                //         areas: []
                //     },
                //     materiais: []
                // }
        }
        }
    }
  
    
}
</script>

<style>
</style>