// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';
// @import '~nativescript-theme-core/css/core.light.css';

// Override variables here

@import '~nativescript-theme-core/scss/index';
@import './fonts/icomoon.ttf';


// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

    $dark: #262626;
    $white: #FFFFFF;
    $gray: #A8A8A8;
    $lightGray: #707070;
    $blue: #1A75FE;
    $blue-disabled: #124796;

    .icon {
        font-family: "Icomoon-font", "icomoon", icomoon , Icomoon-font;
        font-size: 25;
    }

    Switch#userStatus[checked=true]{
        color: #5094fc;
        background-color: white;
        transform: scale(1.25, 1.25); // This is for change the size when checked
        transform: translate(-5,0); // This is for stay the position after scale it
    }
  
    Switch#userStatus[checked=false]{
        color: #1750a5;
        background-color: white;
    }

    Page {
        color: $white;
        background-color: $lightGray;
        font-size: 14;
    }

    .actionBar {
        background-color: $lightGray;
        color: $white;
    }

    ActionBar {
        background-color: $lightGray;
        color: $white;
    }
   
    ListView{  
        separator-color: transparent;  
        background-color: $dark;
    }

    StackLayout {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14;
        padding:5 0;
    }

    GridLayout {
        text-align: center;
        padding: 5;
    }

    SearchBar{
        color:$lightGray;
        background: $gray;
    }

    Button {
        background-color: $blue;
        border-radius: 5;
        height: 40;     
        color: $white;
        font-size: 15;
        margin-top: 5;
    }

    Button:disabled {
        opacity: 0.5;
        background-color: $blue-disabled;
    }

    .logo {
        margin-bottom: 12;
        height: 90;
        font-weight: bold;
    }

    .form {
        margin-left: 30;
        margin-right: 30;
        flex-grow: 2;
        vertical-align: middle;
    }

    .page {
        color: $white;
        background-color: $dark;
        font-size: 20;
    }

    .pageModal {
        color: $white;
        background-color: $lightGray;
    }

    .input {
        text-align: center;
        placeholder-color: $gray;
        font-size: 15;
    }

    .input-field {
        margin-bottom: 25;
    }

    .inputStyle{
        border-bottom-width: none;
    }

    .hr-light {
        background-color: $lightGray;
    }

    .login-label{
        text-align: center;
        margin-top: 7;
        color: $gray;
     }

     .closeModal {
        text-align: right;
        font-weight: 800;
        padding-top: 10;
    }

    .modalView {
        width: 400; 
        text-align: center;
        background-color: $dark;
        color: $white;
        padding: 10 10;
    }

    .title {
        font-size: 16;
    }

    .labelCalculadora {
        font-size: 16;
        text-align: center;
        margin-bottom: 10;
        
    }

    //Ajustes

    .marginBotton{
        margin-bottom: 10;
    }

    .marginTop{
        margin-top: 10
    }

    .strong {
        font-weight: 800;
    }

    .medium{
        font-weight: 500;
    }

    .right {
        text-align: right;
    }

    .center{
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .pads{
        padding: 10 0 15 0;
    }

    .marginSides {
        margin: 0 20;
    }

    .verticalCenter{
        vertical-align: middle;
    }


