@font-face {
  font-family: 'Icomoon-font';
  src:  url('fonts/Icomoon-font.eot?bvnkl4');
  src:  url('fonts/Icomoon-font.eot?bvnkl4#iefix') format('embedded-opentype'),
    url('fonts/Icomoon-font.ttf?bvnkl4') format('truetype'),
    url('fonts/Icomoon-font.woff?bvnkl4') format('woff'),
    url('fonts/Icomoon-font.svg?bvnkl4#Icomoon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icomoon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-building:before {
  content: "\e900";
}
.icon-building-1:before {
  content: "\e901";
}
.icon-building-2:before {
  content: "\e902";
}
.icon-file-export:before {
  content: "\e903";
}
.icon-materials:before {
  content: "\e904";
}
.icon-plus-circle:before {
  content: "\e905";
}
.icon-send:before {
  content: "\e906";
}
.icon-sign-out:before {
  content: "\e907";
}
.icon-tags:before {
  content: "\e908";
}
.icon-workers:before {
  content: "\e909";
}
