<template>
   <FlexboxLayout class="page" backgroundColor="#262626">  

         <StackLayout verticalAlignment="center" class="marginSides title">
                    <FlexboxLayout height="40" flexDirection="row">
                    <Label class="closeModal" @tap="$modal.close" text="X" width="100%" />
                </FlexboxLayout>

            <StackLayout verticalAlignment="center" class="center">
                <Label class="strong title marginBotton" textWrap="true" text="Adicionar Material" />

                <Label 
                    backgroundColor="transparent" 
                    color="#1A75FE" 
                    class="margTopLess marginBotton"
                    @tap="selectMaterial" 
                    text="Selecionar Material"
                    :visibility='selectMaterialButton'/>
              
                <Label backgroundColor="transparent" 
                        textWrap="true"
                        fontSize="14" 
                        horizontalAlignment="center" 
                        class="margTopLess marginBotton"
                        @tap="selectMaterial" 
                        :text="this.selectedItem"
                        :visibility='selectedMaterialButton'/>

                <Label class="medium padTop marginBotton" text="Quantidade" />

                <Label class="center padTop marginBotton" :text="quantidade" />
                <Slider minValue="1" maxValue="100" class="marg" v-model="quantidade" />
              
                <Button :visibility='addControls' class="marginTop" @tap="onButtonTap" text="Adicionar" />

                <GridLayout :visibility='editControls' height="80" width="100%" rows="*" columns="5*, *, 5*" >
                    <Button row="0" col="0" backgroundColor="#D12020" class="margTopLess" @tap="removerMaterial" text="Excluir" />
                    <Button row="0" col="2" backgroundColor="#0EA174" class="margTopLess" @tap="salvarMaterial" text="Salvar" />
                </GridLayout>

            </StackLayout>

        </StackLayout>
           
   </FlexboxLayout >
</template>

<script>
import Selecionar from "./Selecionar";
import { mapActions } from 'vuex';

export default {
   mounted(){
    if (this.isEdit == false ) {
      this.addControls = 'visible';
      this.editControls = 'collapsed';
    } else if (this.isEdit == true) {
      this.selectedMaterialButton = 'visible';
      this.selectMaterialButton = 'collapsed';
      this.selectedItem = this.data.material;
      this.quantidade = this.data.quantidade;
      this.addControls = 'collapsed';
      this.editControls = 'visible';
    };
  },
  props: ['type', 'isEdit', 'data', 'index' ],
  data() {
    return {
      selectMaterialButton: 'visible',
      selectedMaterialButton: 'collapsed',
      selectedItem: '',
      quantidade: 1,
      editControls: '',
      addControls: '',
 
    }
  },
  computed: {

  },
  methods: {
      
      ...mapActions([
        'materiais_adicionar',
        'materiais_remover',
        'materiais_salvar'
      ]),

      selectMaterial: function(){
        this.$showModal(Selecionar, { 
          fullscreen: true, 
          props: { area: this.area, select: "material" }
        }).then(
          data => this.selectedItem = data
        );
        if (this.selectedItem == 'clean') {
          this.selectMaterialButton = 'visible';
          this.selectedMaterialButton = 'collapsed'
        } else {
          this.selectMaterialButton = 'collapsed';
          this.selectedMaterialButton = 'visible'
        }
      },
      onButtonTap: function(args){
        this.materiais_adicionar({
            material: this.selectedItem,
            quantidade: this.quantidade
        });
        this.$modal.close();
      },

      removerMaterial: function(){
        this.materiais_remover(this.index);
        this.$modal.close();
      },

      salvarMaterial: function(){
        console.log( 'teste' );
        this.materiais_salvar({
          index: this.index, 
          element:      
              {
                material: this.selectedItem,
                quantidade: this.quantidade,
              }
        });
        this.$modal.close();
      }

  }
}
</script>


