<template>
   <FlexboxLayout class="pageModal" backgroundColor="#707070" >      
        <DockLayout stretchLastChild="true">
        
            <ActionBar dock="top" @removeAreaExtra="removeAreaExtra" @saveAreaExtra="saveAreaExtra" @addAreaExtra="addAreaExtra" title="Adicionar Área Extra" :left="this.leftSideAction" area="Extras" :right="this.rightSideAction"/>
      
            <Area dock="bottom" :isEditExtra="this.isEditExtra" backgroundColor="#262626" area="Extras" selectExtra="true" />
     
        </DockLayout>
   </FlexboxLayout >
</template>

<script>
import Area from "../CalculadoraComponents/Area";
import ActionBar from "../shared/ActionBar";
import { mapGetters, mapActions } from 'vuex';

export default {
  props: ['area', 'isEditExtra', 'index' ],
  components: {
      'Area': Area,
      'ActionBar' : ActionBar
  },  
  data() {
    return {
      valor: '',
      nome: '',
      metragem: '',
      superficie: '',
    }
  },

  computed:{
    ...mapGetters([
      'orcamento_area_extra_detalhes_valor_pintura',
      'orcamento_area_extra_detalhes_valor_servicos',
      'orcamento_area_extra_servicos'
    ]),

    rightSideAction: function(){
      if (this.isEditExtra){
        return 'Salvar' 
      } else {
        return '+'
      }
    },

    leftSideAction: function(){
      if (this.isEditExtra){
        return 'Excluir'
      } else {
        return 'Voltar'
      }
    },
  },

  methods: {

    ...mapActions([
      'AreaExtra_resetar',
      'AreaExtra_adicionar_area',
      'AreaExtra_zerar_superficie',
      'AreaExtra_salvar_area',
      'AreaExtra_excluir_area',
    ]),

      closeModal: function(){
        this.$modal.close();
      },

      saveAreaExtra: function(){
        this.AreaExtra_salvar_area({
          index: this.index,
          element: {
              nome: this.$store.state.areaExtraTemp.nome,
              valor_total: parseFloat((this.orcamento_area_extra_detalhes_valor_pintura + this.orcamento_area_extra_detalhes_valor_servicos).toFixed(2)),
              detalhes_valor: {
                  valor_pintura: this.orcamento_area_extra_detalhes_valor_pintura,
                  valor_servicos: this.orcamento_area_extra_detalhes_valor_servicos
              },
              metragem: this.$store.state.areaExtraTemp.metragem,
              superficie: this.$store.state.areaExtraTemp.superficie,
              servicos: this.orcamento_area_extra_servicos
          }
        });
        this.AreaExtra_resetar();
        this.AreaExtra_zerar_superficie();
        this.$modal.close();
      },

      addAreaExtra: function() {
        this.AreaExtra_adicionar_area({
            nome: this.$store.state.areaExtraTemp.nome,
            valor_total: parseFloat((this.orcamento_area_extra_detalhes_valor_pintura + this.orcamento_area_extra_detalhes_valor_servicos).toFixed(2)),
            detalhes_valor: {
                valor_pintura: this.orcamento_area_extra_detalhes_valor_pintura,
                valor_servicos: this.orcamento_area_extra_detalhes_valor_servicos
            },
            metragem: this.$store.state.areaExtraTemp.metragem,
            superficie: this.$store.state.areaExtraTemp.superficie,
            servicos: this.orcamento_area_extra_servicos
        });

        this.AreaExtra_resetar();
        this.AreaExtra_zerar_superficie();
        this.$modal.close();
        
      },

      removeAreaExtra: function(){
        this.AreaExtra_excluir_area(this.index);
        this.AreaExtra_resetar();
        this.AreaExtra_zerar_superficie();
        this.$modal.close();
      },



  }
}
</script>


