<template>
   <FlexboxLayout class="page" backgroundColor="#262626">      

        <StackLayout class="marginSides verticalCenter">

              
                <FlexboxLayout height="40" flexDirection="row">
                    <Label class="closeModal" @tap="closeModal" text="X" width="100%" />
                </FlexboxLayout>

                <Label class="center title marginBotton" text="Adicione altura e largura"  row="1" col="0" />

                <StackLayout class="marginTop input" width="80%" row="2" col="0" >     
                    <TextField 
                        borderWidth="0"
                        class="input marginBotton"
                        hint="Altura" 
                        keyboardType="number" 
                        returnKeyType="Próximo"
                        v-model="altura" />

                    <ios>
                        <StackLayout class="hr-light"></StackLayout>
                    </ios>

                    <TextField 
                        class="input marginTop marginBotton"
                        hint="Largura" 
                        keyboardType="number" 
                        returnKeyType="Próximo"
                        v-model="largura"/>

                    <ios>                 
                        <StackLayout class="hr-light"></StackLayout>
                    </ios>
                </StackLayout>   

                <StackLayout class="marginTop" row="2" col="0" >  
                    
                    <GridLayout columns="5*, *" rows="60">
                        <Label row="0" col="0" class="center" :text="resultado" />
                        <StackLayout row="0" col="1">
                            <Label :text="sameSides" />
                            <Switch backgroundColor="white" id="userStatus" checked="false" v-model="itemEnabled" />
                        </StackLayout>
                    </GridLayout>

                    <Button class="marginTop" text="Adicionar" @tap="addArea" />
                </StackLayout> 


            </StackLayout>
        

   </FlexboxLayout >
</template>

<script>
import Area from "../CalculadoraComponents/Area";
import ActionBar from "../shared/ActionBar";
export default {
  components: {
      'Area': Area,
      'ActionBar' : ActionBar
  },  
  data() {
    return {
      altura: '',
      largura: '',
      itemEnabled: false,
    }
  },
  computed: {
      sameSides: function(){
          if (this.itemEnabled == true){
              return '2x';
          } else {
              return '1x';
          }
      },
      area: function(){
          if (this.itemEnabled == false ) {
              return parseFloat((parseFloat(this.altura * this.largura)).toFixed(2));
          } else {
              return parseFloat((parseFloat(2*(this.altura * this.largura))).toFixed(2));
          }
      },
      resultado: function(){
          if (!isNaN(this.area) && this.area != 0.00) {
              return `Área Total: ${(this.area)} m²`
          } else {
              return "Área Total: 0 m²"
          }
      },
  },
  methods: {
      closeModal: function(){
          this.$modal.close();
      },
      addArea: function(){
          if (!isNaN(this.area) && this.area != 0.00) {
            this.$modal.close(this.area);
          }
      }

  }
}
</script>


