<template>
   <StackLayout>
      
       
        <GridLayout height="30" columns="8*, 14*, 3*" rows="*">
            <Label class="strong left" text="Valor" row="0" col="0" />
            <Label :text="valorTotal" row="0" col="1" />
        </GridLayout>


        <GridLayout :visibility='isExtra' height="50" columns="8*, 14*, 3*" rows="*">
            <Label class="strong labelInput left" text="Nome" row="0" col="0" />

            <Label
                backgroundColor="transparent" 
                color="#1A75FE" 
                row="0" col="1"
                class="margTopLess marginBotton"
                @tap="selectArea" 
                text="Selecionar Área Extra"
                :visibility='selectAreaButton'/>

            <Label backgroundColor="transparent" 
                    fontSize="14" 
                    horizontalAlignment="center" 
                    row="0" col="1"
                    class="margTopLess marginBotton"
                    @tap="selectArea" 
                    :text="selectedItem"
                    :visibility='selectedAreaButton'/>

        </GridLayout>

        <GridLayout height="50" columns="8*, 14*, 3*" rows="*">
            <Label class="strong labelInput left" text="Metragem" row="0" col="0" />

            <Label 
                    backgroundColor="transparent" 
                    color="#1A75FE" 
                    row="0" col="1"
                    class="margTopLess marginBotton"
                    @tap="addArea" 
                    text="Adicionar Metragem"
                    :visibility='addAreaButton' />

            <Label 
                    backgroundColor="transparent" 
                    fontSize=14
                    horizontalAlignment="center" 
                    row="0" col="1"
                    class="margTopLess marginBotton"
                    @tap="addArea" 
                    :text="addedArea + ' m²' "
                    :visibility='addedAreaButton' />

        </GridLayout>

        <GridLayout height="50" columns="8*, 14*, 3*" rows="*">
            <Label class="strong labelInput left" text="Superfície" row="0" col="0" />
            <Label class="labelInput" :text="superficie" row="0" col="1" />
            <Button 
                fontSize="20" 
                fontWeight="800" 
                width="35"
                padding="0" 
                height="35" 
                text="<" 
                @tap="openSuperficies"
                row="0" col="2" />
        </GridLayout>

        <GridLayout height="50" columns="8*, 14*, 3*" rows="*">
            <Label class="strong labelInput left" text="Serviços" row="0" col="0" />
            <Button 
                fontSize="20" 
                fontWeight="800" 
                padding="0"
                width="35" 
                height="35" 
                text="+" 
                @tap="openServicos"
                row="0" col="2" />
        </GridLayout>

        <GridLayout class="medium" backgroundColor="#373737" height="30" columns="2*, *, *" rows="*">
            <Label class="left" text="Descrição" row="0" col="0" />
            <Label class="center" text="%" row="0" col="1" />
            <Label class="right" text="Preço" row="0" col="2" />
        </GridLayout>

        <ListView for="i in this.servicos_area" @itemTap="onItemTap" style="height:1000px">
            <v-template>
                <StackLayout>
                    <GridLayout paddingTop="10" paddingBottom="10" height="auto" columns="2*, *, *" rows="*">
                        <Label textWrap="true" row="0" col="0" class="left" :text="i.descricao" />
                        <Label row="0" col="1" class="center" :text="i.porcentagem" />
                        <Label row="0" col="2" class="right" :text="i.valor" />
                    </GridLayout>

                    <StackLayout backgroundColor="#373737" height="1"></StackLayout>
                </StackLayout>
            </v-template>
        </ListView>
                
    </StackLayout>
</template>

<script>
import Superficies from "../CalculadoraComponents/Superficies";
import Servicos from "../CalculadoraComponents/Servicos";
import Metragem from "../CalculadoraComponents/Metragem";
import Selecionar from "../CalculadoraComponents/Selecionar";

import { mapGetters, mapActions } from 'vuex';

export default {
    mounted() {
        if(this.isEditExtra == true){
            this.showAddAreaButton();
            this.hideAddAreaButton();
            this.selectAreaButton = 'collapsed';
            this.selectedAreaButton = 'visible';
            this.superficie = this.$store.state.areaExtraTemp.superficie;  
            this.addedArea = this.$store.state.areaExtraTemp.metragem; 

        } else if (this.area == "Extras") {
            this.AreaExtra_is_extra();
            this.isExtra = 'visible';
            if (this.orcamento_area_extra_modal_isEdit == true ) {
                this.selectedItem = this.orcamento_area_extra_modal_nome;
            }
        } else {
            this.AreaExtra_isnt_extra();
            this.isExtra = 'collapsed'
        };
    },
    props: ['area', 'isEditExtra' ],
    computed: {
        ...mapGetters([
            'orcamento_area_externa_valor', 
            'orcamento_area_interna_valor', 
            'orcamento_area_extra_valor',
            'orcamento_area_externa_servicos',
            'orcamento_area_interna_servicos',
            'orcamento_area_externa_detalhes_valor_pintura',
            'orcamento_area_interna_detalhes_valor_pintura',
            'orcamento_area_externa_detalhes_valor_servicos',
            'orcamento_area_interna_detalhes_valor_servicos',

            'orcamento_area_extra_modal_nome',
            'orcamento_area_extra_modal_isEdit',
            'orcamento_area_extra_valor',
            'orcamento_area_extra_servicos',
            'orcamento_area_extra_detalhes_valor_pintura',
            'orcamento_area_extra_detalhes_valor_servicos',
            'orcamento_area_extra_is_extra',

            'orcamento_area_interna_is_interna'

           
        ]),

        servicos_area: function(){
            if( this.area == 'Externa' && this.orcamento_area_extra_is_extra == false ) {
                return this.orcamento_area_externa_servicos;
            } else if ((this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false ) {
                return this.orcamento_area_interna_servicos;
            } else if ( this.orcamento_area_extra_is_extra ) {
                return this.orcamento_area_extra_servicos;
            }
        },        

        valorTotal: function(){
            if ( this.area == 'Externa' && this.orcamento_area_extra_is_extra == false ) {
                return `R$ ${parseFloat((this.orcamento_area_externa_detalhes_valor_pintura + this.orcamento_area_externa_detalhes_valor_servicos).toFixed(2))}`; 
            } else if ((this.area == 'Interna' || this.area == true) && this.orcamento_area_extra_is_extra == false ) {
                return `R$ ${parseFloat((this.orcamento_area_interna_detalhes_valor_pintura + this.orcamento_area_interna_detalhes_valor_servicos).toFixed(2))}`; 
            } else if ( this.orcamento_area_extra_is_extra ) {
                return `R$ ${parseFloat((this.orcamento_area_extra_detalhes_valor_pintura + this.orcamento_area_extra_detalhes_valor_servicos).toFixed(2))}`;  
            }
        },
        
    },
    data() {
    return {
        isExtra: 'collapsed',

        addAreaButton: 'visible',
        addedAreaButton: 'collapsed',
        addedArea: '',

        selectedItem: '',
        selectAreaButton: 'visible',
        selectedAreaButton: 'collapsed',

        superficie: ' . . .',

        editMetragens: [],
    }
  },
  methods: {
    //Vuex Actions
      ...mapActions([

        'AreaExterna_setar_metragem', 
        'AreaExterna_setar_detalhes_valor_pintura',
        'AreaExterna_setar_fator_multiplicador',
        'AreaExterna_recalcular_detalhes_valor_pintura',
        'AreaExterna_setar_superficie',

        'AreaInterna_setar_metragem',
        'AreaInterna_setar_detalhes_valor_pintura',
        'AreaInterna_setar_fator_multiplicador',
        'AreaInterna_recalcular_detalhes_valor_pintura',
        'AreaInterna_setar_superficie', 

        'AreaExtra_setar_nome',
        'AreaExtra_zerar_nome',
        'AreaExtra_is_extra',
        'AreaExtra_isnt_extra',
        'AreaExtra_setar_metragem',
        'AreaExtra_setar_fator_multiplicador',
        'AreaExtra_recalcular_detalhes_valor_pintura',  
        
        'AreaExtra_salvar_area',
        'AreaExtra_setar_superficie',
        'AreaExtra_setar_valor_total',

    ]),

    area_externa_adicionar_detalhes_valor_pintura: function(payload){
        this.AreaExterna_setar_detalhes_valor_pintura(payload);
    },
    area_interna_adicionar_detalhes_valor_pintura: function(payload){
        this.AreaInterna_setar_detalhes_valor_pintura(payload);             
    },
    
    
    //Local Methods
      openSuperficies: function() {
          this.$showModal(Superficies, { fullscreen: true, props: { 
              area: this.area }
              }).then(
                  data => this.setSurface(data)
              );
      },

      openServicos: function() {
          let valorPinturaArea = '';
          if (this.area == 'Externa' && this.orcamento_area_extra_is_extra == false ) {
              valorPinturaArea = this.orcamento_area_externa_detalhes_valor_pintura
          } else if ((this.area == 'Interna' || this.area == true) && this.orcamento_area_extra_is_extra == false ) {
              valorPinturaArea = this.orcamento_area_interna_detalhes_valor_pintura
          } else if (this.orcamento_area_extra_is_extra) {
              valorPinturaArea = this.orcamento_area_extra_detalhes_valor_pintura
          } ; 
          this.$showModal(Servicos, { fullscreen: true, props: { 
              area: this.area,
              isEdit: false, 
              valorPintura: valorPinturaArea
              }
          }).then(
              data => this.setServico(data)
          );
      },

      addArea: function() {
          this.$showModal(Metragem, { fullscreen: true, props: { 
              area: this.areaChanged, 
              editMetragens: this.editMetragens,
              toMetragensUndo: this.editMetragens, 
              edit: true, 
              addedArea: this.addedArea 
            } 
          }).then(
              data => this.setAddedArea(data) 
          );
      },

      setAddedArea: function(data) {
           
          if (this.area == 'Externa' && this.orcamento_area_extra_is_extra == false) {
              this.AreaExterna_setar_metragem(data.totalArea);
              this.AreaExterna_recalcular_detalhes_valor_pintura();
             
          } else if (this.area = 'Interna' && this.orcamento_area_extra_is_extra == false) {
              this.AreaInterna_setar_metragem(data.totalArea);
              this.AreaInterna_recalcular_detalhes_valor_pintura();
   
          } else if ( this.orcamento_area_extra_is_extra ){
              this.AreaExtra_setar_metragem(data.totalArea);
              this.AreaExtra_recalcular_detalhes_valor_pintura();
          };
             console.log( data.totalArea );
          this.AreaExtra_setar_metragem(data.totalArea);
          
            this.editMetragens = data.metragens;
            this.addedArea = data.totalArea;
            this.hideAddAreaButton();
      },

      setSurface: function(data){
          if (data != undefined ){
                if(this.area == 'Externa' && this.orcamento_area_extra_is_extra == false  ) {
                    this.AreaExterna_setar_fator_multiplicador(data.fator_multiplicador);
                    this.AreaExterna_recalcular_detalhes_valor_pintura();
                    this.superficie = data.nome;
                    this.AreaExterna_setar_superficie(data.nome); 
                } else if(((this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false) || this.area == true ) {
                    this.AreaInterna_setar_fator_multiplicador(data.fator_multiplicador);
                    this.AreaInterna_recalcular_detalhes_valor_pintura();
                    this.superficie = data.nome; 
                    this.AreaInterna_setar_superficie(data.nome)
                } else if(this.orcamento_area_extra_is_extra ) {
                    this.AreaExtra_setar_fator_multiplicador(data.fator_multiplicador);
                    this.AreaExtra_recalcular_detalhes_valor_pintura();
                    this.superficie = data.nome; 
                    this.AreaExtra_setar_superficie(data.nome)
                };
          }
            
      },

      onItemTap: function(args){
          if (this.area == 'Externa' && this.orcamento_area_extra_is_extra == false ) {
                this.$showModal(Servicos, { fullscreen: true, props: {
                    area: this.area,
                    isEdit: true,
                    index: args.index,
                    descricao: this.orcamento_area_externa_servicos[args.index].descricao,
                    porcentagem: this.orcamento_area_externa_servicos[args.index].porcentagem,
                    valorPintura: this.orcamento_area_externa_detalhes_valor_pintura
                }})
          } if ((this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false ) {
              this.$showModal(Servicos, { fullscreen: true, props: {
                  area: this.area,
                  isEdit: true,
                  index: args.index,
                  descricao: this.orcamento_area_interna_servicos[args.index].descricao,
                  porcentagem: this.orcamento_area_interna_servicos[args.index].porcentagem,
                  valorPintura: this.orcamento_area_interna_detalhes_valor_pintura
                }}) 
          } if ( this.orcamento_area_extra_is_extra ) {
               this.$showModal(Servicos, { fullscreen: true, props: {
                  area: this.area,
                  isEdit: true,
                  index: args.index,
                  descricao: this.orcamento_area_extra_servicos[args.index].descricao,
                  porcentagem: this.orcamento_area_extra_servicos[args.index].porcentagem,
                  valorPintura: this.orcamento_area_extra_detalhes_valor_pintura
                }}) 
          } 
    
      },

      setServico: function(data){
          if (data != undefined ){
              
          }
      },
      hideAddAreaButton: function(){
        this.addAreaButton = 'collapsed';
        this.addedAreaButton = 'visible';
      },
      showAddAreaButton: function(){
        this.addAreaButton = 'visible';
        this.addedAreaButton = 'collapsed';
      },
      selectArea: function(){
        this.$showModal(Selecionar, { 
          fullscreen: true, 
          props: { area: this.area, select: "extras" }
        }).then(
          data => this.setAreaExtra(data)
        );
        this.selectAreaButton = 'collapsed';
        this.selectedAreaButton = 'visible';  
      },
      setAreaExtra: function(data){
          this.selectedItem = data;
          this.AreaExtra_setar_nome(data);

      }, 


   
  },
}
</script>


