<template>
   <StackLayout>

        <GridLayout height="30" columns="8*, 14*, 3*" rows="*">
            <Label class="strong left" text="Valor" row="0" col="0" />
            <Label :text="valorTotalExtras" row="0" col="1" />
        </GridLayout>

        <GridLayout height="50" columns="12*, 10*, 3*" rows="*">
            <Label class="strong labelInput left" text="Áreas Extras"
                row="0" col="0" />
            <Button fontSize="20" fontWeight="800" padding="0"
                width="35" height="35" text="+" @tap="modalAddExtras"
                row="0" col="2" />
        </GridLayout>

        <StackLayout backgroundColor="#373737" height="3"></StackLayout>

        <ListView for="i in this.extras" @itemTap="editAreasExtras" style="height:900px">
            <v-template>
                <StackLayout>
                    <StackLayout>

                        <Label textWrap="true" row="0" col="0"
                            class="left strong" :text="i.nome"
                            padding="10 0 0 0" fontSize="20" />

                        <GridLayout paddingTop="10" paddingBottom="10"
                            height="auto" columns="*, *" rows="auto">
                            <Label textWrap="true" row="1" col="0"
                                class="left" text="Valor Total" />
                            <Label textWrap="true" row="1" col="1"
                                class="right" :text="i.valor_total" />
                        </GridLayout>

                        <GridLayout paddingTop="10" paddingBottom="10"
                            height="auto" columns="*, *" rows="auto">
                            <Label class="strong left" textWrap="true"
                                row="2" col="0"  text="Superficie" />
                            <Label textWrap="true" row="2" col="1"
                                class="right" :text="i.superficie" />
                        </GridLayout>

                        <GridLayout paddingTop="10" paddingBottom="10"
                            height="auto" columns="*, *" rows="auto">
                            <Label class="strong left" textWrap="true"
                                row="3" col="0"  text="Metragem" />
                            <Label textWrap="true" row="3" col="1"
                                class="right" :text="i.metragem" />
                        </GridLayout>

                        <GridLayout paddingTop="10" paddingBottom="10"
                            height="auto" columns="*, *" rows="auto">
                            <Label class="strong left" textWrap="true"
                                row="4" col="0"  text="Valor da pintura" />
                            <Label textWrap="true" row="4" col="1"
                                class="right" :text="i.detalhes_valor.valor_pintura" />
                        </GridLayout>

                        <GridLayout paddingTop="10" paddingBottom="10"
                            height="auto" columns="*, *" rows="auto">
                            <Label class="strong left" textWrap="true"
                                row="5" col="0"  text="Valor Total dos Serviços" />
                            <Label textWrap="true" row="5" col="1"
                                class="right" :text="i.detalhes_valor.valor_servicos" />
                        </GridLayout>                       

                        <GridLayout class="medium"
                            backgroundColor="#373737" height="30"
                            columns="2*, *, *" rows="*">
                            <Label class="left" text="Serviços"
                                row="0" col="0" />
                            <Label class="center" text="%" row="0"
                                col="1" />
                            <Label class="right" text="Preço" row="0"
                                col="2" />
                        </GridLayout>

                        <StackLayout 
                            row="6" col="0" 
                            v-for="q in i.servicos"
                            paddingTop="10" paddingBottom="10" height="auto">
                            <GridLayout paddingTop="5"
                                paddingBottom="5" height="auto"
                                columns="2*, *, *" rows="auto">
                                <Label class="left" col="0"
                                    textWrap="true" :text="q.descricao" />
                                <Label class="center" col="1"
                                    textWrap="true" :text="q.porcentagem" />
                                <Label class="right" col="2"
                                    textWrap="true" :text="q.valor" />
                            </GridLayout>
                        </StackLayout>

                </StackLayout> 
                <StackLayout backgroundColor="#373737" height="1"></StackLayout>
            </StackLayout>       
            </v-template>
        </ListView> 
                
    </StackLayout>
</template>

<script>
import Superficies from "../CalculadoraComponents/Superficies";
import Servicos from "../CalculadoraComponents/Servicos";
import AdicionarExtra from "../CalculadoraComponents/AdicionarExtra";

import { mapGetters, mapActions } from 'vuex';


export default {
    props: ['area'],
    computed: {
        ...mapGetters([
            'orcamento_area_extras_areas',
            'orcamento_area_extras_valor_total',
            ]),

        valorTotalExtras: function(){
            return `R$ ${this.orcamento_area_extras_valor_total}`; 
        },

        extras: function(){
            return this.orcamento_area_extras_areas;
        }
        
    },
    data() {
    return {
        
    }
  },
  methods: {
      ...mapActions([ 
          'AreaExtra_adicionar_area',
          'AreaExtra_setar_area',
      ]),

      openSuperficies: function() {
        this.$showModal(Superficies, { fullscreen: true, props: { area: this.area}});
      },
       openServicos: function() {
        this.$showModal(Servicos, { fullscreen: true, props: { area: this.area}});
      },
      modalAddExtras: function() {
          this.$showModal(AdicionarExtra, {fullscreen: true, props: {area: 'Extras' } })
      },
      editAreasExtras: function(args){
           this.AreaExtra_setar_area(
            {
                isEditExtra: true,
                isExtra: true,
                nome: this.extras[args.index].nome,
                valor_total: this.extras[args.index].valor_total,
                detalhes_valor: {
                    valor_pintura: this.extras[args.index].detalhes_valor.valor_pintura,
                    valor_servicos: this.extras[args.index].detalhes_valor.valor_servicos
                },
                metragem: this.extras[args.index].metragem,
                superficie: this.extras[args.index].superficie,
                servicos: this.extras[args.index].servicos
            });
          this.$showModal(AdicionarExtra, {fullscreen: true, props: {
                area: 'Extras', 
                index: args.index,
                isEditExtra: true,
           }});
      }
  }
}
</script>


