<template>
   <StackLayout>

    <Label :text="type"/>

    <StackLayout>
        <Label class="strong center marginBotton" text="Número de Pintores" />

        <Label class="center padTop marginBotton marginTop" :text="parseInt(pintores)" />
        <Slider maxValue="20" class="marg marginTop" v-model="pintores" />
    </StackLayout>
            
    </StackLayout>
</template>

<script>
export default {
    props: ['type'],
    data() {
    return {
        pintores: 0 
    }
  },
  methods: {
      
  }
}
</script>


