<template>
   <StackLayout>

    <Button fontSize="20" fontWeight="800" padding="0" margin="0 0 10 0"
            width="35" height="35" text="+" @tap="showAddMaterial" />

    <GridLayout class="medium" backgroundColor="#373737" height="30" columns="*, *" rows="*">
        <Label class="left" text="Materiais" row="0" col="0" />
        <Label class="right" text="Quantidade" row="0" col="1" />
    </GridLayout>


    <ListView for="i in this.materiais" @itemTap="onItemTapMaterial" style="height:900">
        <v-template>
            <StackLayout>
                <GridLayout paddingTop="10" paddingBottom="10"
                    height="auto" columns="*, *" rows="*">

                    <Label textWrap="true" row="0" col="0"
                        class="left" :text="i.material" />
                    <Label row="0" col="1" class="right"
                        :text="i.quantidade" />

                </GridLayout>
                <StackLayout backgroundColor="#373737" height="1"></StackLayout>
            </StackLayout>
        </v-template>
    </ListView>
            
    </StackLayout>
</template>

<script>
import AdicionarMaterial from "./AdicionarMaterial";
import { mapGetters } from 'vuex';

export default {
    props: ['type'],
    data() {
        return {
        
        }
  },
  computed: {

      ...mapGetters([
          'set_materiais'
      ]),

      materiais: function(){
          return this.set_materiais;
      },
  },
  methods: {
      showAddMaterial: function(){
            this.$showModal(AdicionarMaterial, {fullscreen: true, props: {
                type: this.type, 
                select: "material",
                isEdit: false, 
            } });
      },
      onItemTapMaterial: function(args){
          console.log( args.index );
          this.$showModal(AdicionarMaterial, {fullscreen: true, props: {
                type: this.type, 
                select: "material",
                isEdit: true,
                index: args.index,
                data: {
                    material: this.$store.state.pedido.orcamento.materiais[args.index].material,
                    quantidade: this.$store.state.pedido.orcamento.materiais[args.index].quantidade
                }

            } });
      },
      
  }
}
</script>


