<template>
       <DockLayout class="pageModal" stretchLastChild="true" backgroundColor="#707070" >

            <ActionBar :area=area @addMeters="addMeters" dock="top" title="Adicionar Metragem" right=" √ "/>
        
 <label :text='this.area' />
            <StackLayout backgroundColor="#262626" height="100%" dock="botton">
                <GridLayout class="marginTop marginBotton" height="30" columns="*, *" rows="*">
                    <Label class="strong" text="Metragem Total" row="0" col="0" />
                    <Label :text="totalAreaResult" row="0" col="1" />
                </GridLayout> 
                <Button 
                    class="marginBotton marginTop center strong"
                    fontSize="20"
                    padding="0" 
                    width="35" 
                    height="35" 
                    text="+" 
                    @tap="modalAddArea"
                    row="0" col="1" />

                <StackLayout class="medium" backgroundColor="#373737" height="30">
                    <Label class="center" text="Metragens"/>
                </StackLayout>
            
                <ListView for="metragem in this.metragens" @itemTap="onItemTap" style="height:900">
                    <v-template>
                        <StackLayout>
                            <GridLayout paddingTop="10" paddingBottom="10"
                                        height="auto" columns="*" rows="*">

                                <Label textWrap="true" row="0" col="0"
                                        class="center" :text="metragem" />

                            </GridLayout>
                            <StackLayout backgroundColor="#373737" height="1"></StackLayout>
                        </StackLayout>
                    </v-template>
                </ListView>
            </StackLayout>

       </DockLayout>     
</template>

<script>
import ActionBar from "../shared/ActionBar";
import AdicionarMetragem from "./AdicionarMetragem";
import AdicionarMetragemVue from './AdicionarMetragem.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
    props: ['area', 'editMetragens', 'addedArea', ],
    mounted() {
        this.metragens = this.editMetragens
        this.oldArea = this.addedArea
    },
    components: {
        'ActionBar': ActionBar,
    },
   
    data() {
        return {
            metragens: [],
        }
    },
    computed: {

        ...mapGetters([ 
            'orcamento_area_extra_is_extra',
            
        ]),

        totalAreaResult: function(){
            return `${this.totalArea} m²`;
        },

        totalArea: function(){
                return parseFloat(this.metragens.reduce((a,b) => a + b, 0).toFixed(2));
                
        }
    },
    methods: {
        ...mapActions([ 
            'AreaInterna_zerar_valor_pintura',
            'AreaExterna_zerar_valor_pintura',
            'AreaExtra_zerar_valor_pintura', 
        ]),
        modalAddArea: function(){
            this.$showModal(AdicionarMetragem, {fullscreen: true, props:{area:"this.area"} }).then(    
            data => this.addMetragens(data)
            );
        },
        addMetragens: function(data) {
            if (data !== undefined){
                 this.metragens.push(data);
            }
        },
        onItemTap: function(args){
            this.metragens.splice(args.index, 1)
        },
        addMeters: function(){
            
            if (this.totalArea == 0){
                if (this.area =='Externa' && this.orcamento_area_extra_is_extra == false ){
                    this.AreaExterna_zerar_valor_pintura();

                    this.$modal.close({
                        area: this.area,
                        totalArea: this.totalArea, 
                        metragens: this.metragens
                    })
                } else if (this.area == 'Interna' && this.orcamento_area_extra_is_extra == false) {
                    this.AreaInterna_zerar_valor_pintura();
              
                    this.$modal.close({
                        area: this.area,
                        totalArea: this.totalArea, 
                        metragens: this.metragens
                    })
                } else if (this.orcamento_area_extra_is_extra) {
                    this.AreaExtra_zerar_valor_pintura();
              
                    this.$modal.close({
                        area: this.area,
                        totalArea: this.totalArea, 
                        metragens: this.metragens
                    })
                };
            } else {
                this.$modal.close({
                    area: this.area,
                    totalArea: this.totalArea, 
                    metragens: this.metragens,
                });
            }
        },
    }
}
</script>


