<template>
<FlexboxLayout class="pageModal" backgroundColor="#707070" >

    <DockLayout stretchLastChild="true">
      <StackLayout verticalAlignment="center">  
        <ActionBar dock="top" class="actionBar" title="Selecionar Serviço"/>   
        
        <ios>
          <SearchBar v-model="searchQuery" hint="Filtrar" />
        </ios>
        <android>
          <SearchBar backgroundColor="white" v-model="searchQuery" hint="Filtrar" />
        </android>

            <ListView dock="bottom" class="list-group" for="servico in listRender" @itemTap="onItemTap"
                style="height:1250px">
                <v-template>
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Label textWrap="true" :text="servico" class="list-group-item-heading"
                            style="width: 60%" />
                    </FlexboxLayout>
                </v-template>
            </ListView>

           
            </StackLayout> 
      </DockLayout>

   </FlexboxLayout> 
</template>

<script>
import ActionBar from "../shared/ActionBar";

import { mapGetters } from 'vuex';

export default {
  components: {
    "ActionBar" : ActionBar
  },

  props: ['area', 'select'],

  computed: {

    ...mapGetters([ 
        'setar_servicos',
        'setar_areas_extras',
        'setar_materiais'
    ]),

    lista_servicos: function(){
      return this.setar_servicos;
    },
    lista_area_extra: function(){
      return this.setar_areas_extras;
    },
    lista_materiais: function(){
      return this.setar_materiais
    },

    listRender: function() {
      if (this.select == "extras") {
        return this.lista_area_extra.filter(servico => {
          return servico.toLowerCase().match(this.searchQuery.toLowerCase())});
      } else if (this.select === "material" ) {     
        return this.lista_materiais.filter(servico => {
         return servico.toLowerCase().match(this.searchQuery.toLowerCase())});
     } else {
        return this.lista_servicos.filter(servico => {
         return servico.toLowerCase().match(this.searchQuery.toLowerCase())});
      }
    },
  },

  data() {
    return {
      searchQuery: "",
    }
  },
  
  methods: {
    onItemTap: function(args){
      if ( this.select == 'extras' ) {
        var item = this.listRender[args.index];
        console.log(item);
        this.$modal.close(item);
      } if ( this.select == 'material' ) {
        var item = this.listRender[args.index];
        console.log(item);
        this.$modal.close(item);
      } else {
        var item = this.listRender[args.index];
        console.log(item);
        this.$modal.close(item);
      }
    }
  }
}
</script>