<template>
   <FlexboxLayout class="page" backgroundColor="#262626">      

         <StackLayout verticalAlignment="center" class="marginSides title">
                <FlexboxLayout height="40" flexDirection="row">
                    <Label class="closeModal" @tap="modalClose" text="X" width="100%" />
                    
                </FlexboxLayout>

            <StackLayout verticalAlignment="center" class="center">
                <Label class="strong title marginBotton" textWrap="true" text="Adicionar Serviço:" />

                <!-- <Label :text="this.area"/>
                <label :text="this.valorPintura" />
                <label :text='this.index' />
                <label :text="valorAntigo" /> -->

                <Label
                    backgroundColor="transparent" 
                    color="#1A75FE" 
                    class="marginBotton"
                    @tap="selectService" 
                    text="Selecionar Serviço"
                    :visibility='selectServiceButton'/>
              
                <Label backgroundColor="transparent" 
                        textWrap="true"
                        fontSize="14" 
                        horizontalAlignment="center" 
                        class="marginBotton"
                        @tap="selectService" 
                        :text="this.selectedItem"
                        :visibility='selectedServiceButton'/>


                <Label class="medium padTop marginBotton" text="Porcentagem do valor total" />


                <Label class="center padTop marginBotton" :text="`${porcentagemSlider} %`" />
                <Slider minValue="1" maxValue="100" class="marg marginTop padTop" v-model="porcentagemSlider" />

                <Label class="strong padTop" text="Valor do Serviço" />
                <Label class="labelCalculadora" :text="`R$ ${valor}`" />
                
                <Button  :visibility='addControls' class="margTopLess" @tap="adicionarServico" text="Adicionar" />

                <GridLayout :visibility='editControls' height="80" width="100%" rows="*" columns="5*, *, 5*" >
                    <Button row="0" col="0" backgroundColor="#D12020" class="margTopLess" @tap="removerServico" text="Excluir" />
                    <Button row="0" col="2" backgroundColor="#0EA174" class="margTopLess" @tap="salvarServico" text="Salvar" />
                </GridLayout>

            </StackLayout>

        </StackLayout>
           
   </FlexboxLayout >
</template>

<script>
import Selecionar from "./Selecionar";
import { mapActions, mapGetters } from 'vuex';

export default {
  mounted(){
    if (this.isEdit == false ) {
      this.addControls = 'visible';
      this.editControls = 'collapsed';
    } else {
      this.addControls = 'collapsed';
      this.editControls = 'visible';
      
      this.hideSelectServiceButton();
      this.selectedItem = this.descricao;
      this.porcentagemSlider = this.porcentagem
    };
    this.valorAntigo = this.valor
  },
  
  props: [
      'area', 
      'isEdit', 
      'descricao', 
      'porcentagem', 
      'valorPintura',
      'index' 
  ],

  data() {
    return {
      selectServiceButton: 'visible',
      selectedServiceButton: 'collapsed',
      selectedItem: '',
      porcentagemSlider: 1,

      editControls: '',
      addControls: '',
      valorAntigo: '',
 
    }
  },
  computed: {
    
    ...mapGetters([
      'orcamento_area_extra_is_extra',
    ]),

    valor: function(){
      return parseFloat(((this.valorPintura * this.porcentagemSlider)/100).toFixed(2))
    },

  },

  methods: {
      ...mapActions([ 
        'AreaExterna_adicionar_servico',
        'AreaExterna_remover_servico',
        'AreaExterna_salvar_servico',
        'AreaExterna_adicionar_valor_servicos',
        'AreaExterna_remover_valor_servicos',

        'AreaInterna_adicionar_servico',
        'AreaInterna_remover_servico',
        'AreaInterna_salvar_servico',
        'AreaInterna_adicionar_valor_servicos',
        'AreaInterna_remover_valor_servicos',

        'AreaExtra_adicionar_valor_servico',
        'AreaExtra_adicionar_servico',
        'AreaExtra_remover_servico',
        'AreaExtra_salvar_servico',

        'AreaExterna_recalcular_valor_servico',
        'AreaInterna_recalcular_valor_servicos'

       ]),

      modalClose: function(){
          this.$modal.close();
      },

      selectService: function(){
        this.$showModal(Selecionar, { 
          fullscreen: true, 
          props: { select: 'servicos' }
        }).then(
          data => this.setSelectedItem(data)
        )
      },

      setSelectedItem: function(data){
        this.selectedItem = data;
        this.hideSelectServiceButton();
      },

      adicionarServico: function() {
        if ( this.area == 'Externa' && this.orcamento_area_extra_is_extra == false ) {
            if (this.selectServiceButton == 'visible'){
              this.hideSelectServiceButton();
            } else {
              this.showSelectServiceButton();
            };

            this.AreaExterna_adicionar_servico(
                    {
                          descricao: this.selectedItem,
                          porcentagem: this.porcentagemSlider,
                          valor: this.valor
                    }
            );
            this.AreaExterna_recalcular_valor_servico();
            this.modalClose();

        } if ( (this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false) {
            if (this.selectServiceButton == 'visible'){
              this.hideSelectServiceButton();
            } else {
              this.showSelectServiceButton();
            };

            this.AreaInterna_adicionar_servico(
                    {
                          descricao: this.selectedItem,
                          porcentagem: this.porcentagemSlider,
                          valor: this.valor
                    }
            );
            this.AreaInterna_recalcular_valor_servicos();
            this.modalClose();

        } if (this.orcamento_area_extra_is_extra) {
            if (this.selectServiceButton == 'visible'){
              this.hideSelectServiceButton();
            } else {
              this.showSelectServiceButton();
            };

            this.AreaExtra_adicionar_servico(
                    {
                          descricao: this.selectedItem,
                          porcentagem: this.porcentagemSlider,
                          valor: this.valor
                    }
            );
            this.AreaExtra_adicionar_valor_servico(this.valor);
            this.modalClose();
        }
      },

      removerServico: function(){
        if (this.area == 'Externa' && this.orcamento_area_extra_is_extra == false){
            this.AreaExterna_remover_servico(this.index);
            this.AreaExterna_recalcular_valor_servico();
            this.modalClose();

        }  else if ((this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false){
            this.AreaInterna_remover_servico(this.index);
            this.AreaInterna_recalcular_valor_servicos();
            this.modalClose();

        } else if (this.orcamento_area_extra_is_extra) {
           this.AreaExtra_remover_servico(this.index);
           this.modalClose();
        }

      },  

      salvarServico: function(){
        if (this.area == 'Externa' && this.orcamento_area_extra_is_extra == false) { 
          this.AreaExterna_salvar_servico({ 
              index: this.index, 
              element:      
                  {
                    descricao: this.selectedItem,
                    porcentagem: this.porcentagemSlider,
                    valor: this.valor
                  }
            });
            this.AreaExterna_recalcular_valor_servico();
            this.modalClose();

        }  else if ((this.area == 'Interna' || this.area == true ) && this.orcamento_area_extra_is_extra == false) {
            this.AreaInterna_salvar_servico({ 
              index: this.index, 
              element:      
                  {
                    descricao: this.selectedItem,
                    porcentagem: this.porcentagemSlider,
                    valor: this.valor
                  }
            });
            this.AreaInterna_recalcular_valor_servicos();   
            this.modalClose();

          } else if (this.orcamento_area_extra_is_extra) {
            this.AreaExtra_salvar_servico({
              index: this.index, 
              element:      
                  {
                    descricao: this.selectedItem,
                    porcentagem: this.porcentagemSlider,
                    valor: this.valor
                  }
            });
            this.modalClose();
          }
      },

      showSelectServiceButton: function(){
          this.selectServiceButton = 'visible';
          this.selectedServiceButton = 'collapsed'
      },
      hideSelectServiceButton: function(){
          this.selectServiceButton = 'collapsed';
          this.selectedServiceButton = 'visible'
      }
  }
}
</script>


