<template>
 
   <FlexboxLayout class="page" backgroundColor="#262626" >      
       
            <StackLayout class="marginSides verticalCenter">
                <FlexboxLayout height="40" flexDirection="row">
                    <Label class="closeModal" @tap="modalClose" text="X" width="100%" />
                </FlexboxLayout>

                <StackLayout>
                    <Label textWrap="true" class="center strong title"
                        text="Selecione o tipo de Superfície" />

                    <ListPicker marginBottom="15" :items="this.superficies"
                        v-model="selectedSuperficieIndex" textField="nome"
                        valueField="fator_multiplicador" />

                    <Button @tap="selecionarSuperficie" text="Selecionar" />

                </StackLayout>
            </StackLayout>
           
   </FlexboxLayout >
 
</template>

<script>
import { mapGetters } from 'vuex';

export default {

  props: ['area'],
  computed: {
    ...mapGetters([ 
        'setar_superficies'
    ]),   

    superficies: function(){
        return this.setar_superficies;
    },
  },
  data() {
    return {
        selectedSuperficieIndex: 0,
    }
  },
  methods: {
      modalClose: function(){
          this.$modal.close();
      },

      selecionarSuperficie: function(){
        this.$modal.close({
            nome: this.superficies[this.selectedSuperficieIndex].nome, 
            fator_multiplicador: this.superficies[this.selectedSuperficieIndex].fator_multiplicador 
        })
      }
  }
}
</script>


